<header>
  <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSite Name</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right remMargin">
              <li class="active"><a href="#">For Colleges</a></li>
              <li><a href="#">For Enterprises</a></li>
              <li><button type="button" id="loginButton" onclick="location.href = '/login';" class="btn btn-primary">Login</button></li>
          </ul>
      </div>
  </nav>
</header>
